{
  "parser": "@typescript-eslint/parser",
  "plugins": ["jest", "@typescript-eslint"],
  "rules": {},
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  }
}
